.profile-container{
    text-align: center;
    justify-content: center;
}
.profile-heading{
    color: white;
    padding: 30px;
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    
    
}
.profile-text{
    color: white;
    font-size: 27px;
    padding: 20px;
}