//holds the profile text adn heading
.profile-container{
    // making sure it all centered
    text-align: center;
    justify-content: center;
}

// the profile heading (About Me)
.profile-heading{
    color: white;
    padding: 30px;
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    
    
}
// the paragraph at the beggining of the home page
.profile-text{
    color: white;
    font-size: 27px;
    padding: 20px;
    line-height: 140%;
}