@import "utils/variables";
@import "components/navigation";
@import "components/_carousel.scss";
@import "pages/_experiment.scss";
@import "pages/_contact.scss";

/*--- page ---*/
// this is the body, pretty basic config

*{
    font-family: "Poppins", sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: white;

    }




