.navbar {
  background-color: white;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
}

.nav-link {
  color: black;
  cursor: pointer;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  padding: 30px;
}

.nav-link:hover, .nav-link:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nameLogoLink:hover, .nameLogoLink:focus, .nameLogoLink:visited {
  text-decoration: none;
}

.nameLogo {
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  text-align: center;
}

.nav-link-active {
  color: black;
  cursor: pointer;
  font-size: 25px;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  padding: 30px;
}

.nav-link-active:hover, .nav-link-active:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-container {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-heading {
  color: white;
  padding: 30px;
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
}

.profile-text {
  color: white;
  font-size: 27px;
  padding: 20px;
  line-height: 140%;
}

.get-in-touch {
  max-width: 1000px;
  margin: 50px auto;
  position: relative;
  -webkit-box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: white;
}

.get-in-touch .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color: #5543ca;
  background: -webkit-gradient(linear, left top, right top, from(#f4524d), to(#5543ca));
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-form {
  position: relative;
  margin: 32px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px;
}

.contact-form .form-field:focus {
  outline: none;
}

.contact-form .form-field .input-text {
  outline: none;
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .form-field .label {
  position: absolute;
  left: 20px;
  bottom: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  text-transform: capitalize;
}

.contact-form .form-field .submit-btn {
  display: inline-block;
  background-image: linear-gradient(125deg, #5543ca, #f4524d);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.contact-form .form-field .error-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .form-field #errorElement {
  text-align: center;
  font-size: 18px;
}

.gallery-img {
  border: solid white 5px;
}

/*--- page ---*/
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../images/edited-background-page(2) (lena).png");
  /* make sure the photo covers the background */
  background-size: cover;
  /* always wanting in to take 100% of the screen */
  min-height: 100%;
  min-width: 100%;
  /* this allows me to set position location */
  position: absolute;
  /* make sure it starts at the right place */
  left: 0;
  top: 0;
}
